# Serverless directories
api/.serverless

# golang output binary directory
api/bin

# golang vendor (dependencies) directory
api/vendor
api/node_modules

# Binaries for programs and plugins
api/*.exe
api/*.exe~
api/*.dll
api/*.so
api/*.dylib

# Test binary, build with `go test -c`
api/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
api/*.out
